* {
  box-sizing: border-box;
}

body {
  background-color: #f5f0f6;
  overflow-x: hidden;
  color: #2B4162;
}

.App {
  text-align: center;
  margin-top: 100px;
}

.wrapper {
  background-color: #fff;
}
